workflow.example/newsFetchingWorkflow.json
{
  "name": "newsFetchingWorkflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        976
      ],
      "id": "c2ea3243-0771-456c-aa3f-116c9d71342f",
      "name": "loopOverItems"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nconst companyName = $('loopOverItems').item.json['Company Name'] || \"Unknown\";\n\nlet newsItems = [];\n\nif (item.rss && item.rss.channel && item.rss.channel.item) {\n  newsItems = item.rss.channel.item;\n  if (!Array.isArray(newsItems)) {\n    newsItems = [newsItems];\n  }\n}\n\nif (newsItems.length === 0) {\n  return [{\n    json: {\n      error: true,\n      status: \"failed\",\n      data: \"No news found.\",\n      \"Company Name\": companyName\n    }\n  }];\n}\n\nconst cleanText = (text) => {\n  if (!text) return \"\";\n  return String(text).replace(/<[^>]*>/g, \"\").trim();\n};\n\nconst topNews = newsItems.slice(0, 5);\n\nconst mergedNewsText = topNews.map((newsItem, index) => {\n  return `Article ${index + 1}:\nTitle: ${cleanText(newsItem.title)}\nDescription: ${cleanText(newsItem.description)}\nDate: ${newsItem.pubDate?._ || newsItem.pubDate || \"Unknown\"}`;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{\n  json: {\n    error: false,\n    status: \"success\",\n    data: mergedNewsText,\n    \"Company Name\": companyName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        976
      ],
      "id": "85c025c0-df74-4580-84a8-2a3f891e638a",
      "name": "filterRawData",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a68e9ba4-8549-4118-83f7-01bc8119709f",
              "leftValue": "={{ $json.error ? 'failed' : 'success' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8d49e9fa-eef1-4568-a9d3-cb29d4d92b61",
              "leftValue": "={{ $json.output.status }}",
              "rightValue": "invalidData",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        1328
      ],
      "id": "82fedc73-4f00-47cf-9c77-d66ba4c11820",
      "name": "checksIfDataAreValid"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawText = $json.output;\n\nif (!rawText || rawText.trim() === \"\") {\n  return { json: buildErrorResult() };\n}\n\nlet aiData;\ntry {\n  let jsonData = JSON.parse(rawText);\n  if (Array.isArray(jsonData)) {\n    aiData = jsonData[0];\n    if (aiData.output) {\n      aiData = JSON.parse(aiData.output);\n    }\n  } else if (jsonData.output) {\n    aiData = JSON.parse(jsonData.output);\n  } else {\n    aiData = jsonData;\n  }\n} \ncatch (err) {\n  return { json: buildErrorResult(err.message) };\n}\n\nlet companyData = buildBaseResult(aiData);\nlet { errors, status } = validateCompanyData(companyData);\n\nlet result = buildResult(companyData, errors, status);\n\nreturn {\n  json: result\n};\n\nfunction buildErrorResult(errorMessage) {\n  return {\n    shortSummary: 'Error parsing data',\n    detailedSummary: 'Error parsing data',\n    lastUpdate: new Date().toISOString(),\n    pubDate: 'Unknown',\n    revenue: 'Error parsing data',\n    errorMessage: errorMessage,\n    isValid: \"invalidData\",\n    errors: [\"ERROR PARSING DATA\"]\n  };\n}\n\nfunction buildBaseResult(aiData) {\n  return {\n    shortSummary: aiData.shortSummary || 'Unknown',\n    detailedSummary: aiData.detailedSummary || 'Unknown',\n    pubDate: aiData.pubDate || 'Unknown',\n    revenue: aiData.revenue || 'Unknown',\n    lastUpdate: new Date().toISOString() \n  }\n}\n\nfunction buildResult(companyData, errors, status) {\n  return {\n    ...companyData,\n    errors: errors,\n    isValid: status\n  }\n}\n\nfunction validateCompanyData(companyData) {\n  let errors = [];\n  let status;\n\n  if (companyData.shortSummary === \"Unknown\") errors.push('INVALID shortSummary');\n  if (companyData.detailedSummary === \"Unknown\") errors.push('INVALID detailedSummary');\n  if (companyData.pubDate === 'Unknown') errors.push('INVALID pubDate');\n  if (companyData.revenue === \"Unknown\") errors.push('INVALID revenue')\n  if (\n    companyData.shortSummary === \"Unknown\" ||\n    companyData.detailedSummary === \"Unknown\"\n  ) {\n    status = \"invalidData\"\n  } else {\n    status = \"validData\";\n  }\n\n  return { errors, status };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        1168
      ],
      "id": "1a1bb920-7544-4d1f-994c-bac023f63c8b",
      "name": "validateOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a68e9ba4-8549-4118-83f7-01bc8119709f",
              "leftValue": "={{ $json.error ? 'failed' : 'success' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f0a894a6-883e-4d59-9a45-00e4360445a8",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        1200
      ],
      "id": "d465ab0c-8fe8-4c42-8e57-2b416c827f82",
      "name": "checksIfDataFromLalmaAreValid"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "881eb9b6-27a9-480d-aa7a-aaadfb9252c3",
              "leftValue": "={{ $json.error ? 'failed' : 'success' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e71f91a1-abdb-44cf-8f17-0d34b8f9a360",
              "leftValue": "={{ $json.data }}",
              "rightValue": "No news found.",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        976
      ],
      "id": "4586155d-b67e-4040-8e24-473ab6939a9b",
      "name": "checksIfFilteredDataAreValid"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a68e9ba4-8549-4118-83f7-01bc8119709f",
              "leftValue": "={{ $json.error ? 'failed' : 'success' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bf16dd8b-3257-49e1-8b26-143ec7f9cda5",
              "leftValue": "={{  $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        1664
      ],
      "id": "b4ebf1bb-1a00-4e51-8067-0372188894b0",
      "name": "checksIfDataFromGeminiAreValid"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        736,
        1488
      ],
      "id": "7558b67e-acaf-44e3-b7cb-b7b9fc59679b",
      "name": "wait",
      "webhookId": "5c9f03e4-f876-41e0-8230-f875a48dcdb4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a68e9ba4-8549-4118-83f7-01bc8119709f",
              "leftValue": "={{ $json.error ? 'failed' : 'success' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "91195fee-8802-4927-9c44-60da5d79c48e",
              "leftValue": "={{  $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        1440
      ],
      "id": "9034979c-a16c-481d-803f-38be66516810",
      "name": "checksIfDataFromQwenAreValid"
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q={{ $json[\"Company Name\"] }}+company&hl=en-US&gl=UK",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        976
      ],
      "id": "87b90452-1de5-4b6b-acbd-62ffe313b208",
      "name": "HTTPRequestCompanieLastUpdate",
      "retryOnFail": true,
      "waitBetweenTries": 3500,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        832
      ],
      "id": "7955e3d0-b444-4bb5-93ae-014c27fa5885",
      "name": "scheduleTrigger",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a68e9ba4-8549-4118-83f7-01bc8119709f",
              "leftValue": "={{ $json.error ? 'failed' : 'success' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        944,
        976
      ],
      "id": "23ef96fb-a2b4-4598-a239-5ac6bfd553c7",
      "name": "checksIfDataFromHTTPLastUpdateNodeAreValid"
    },
    {
      "parameters": {
        "options": {
          "mergeAttrs": false,
          "normalize": false,
          "trim": false
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1120,
        976
      ],
      "id": "bb2b784b-5888-4e10-b74e-4312fbe5e569",
      "name": "XML"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -112,
        1328
      ],
      "id": "eeeb6116-c839-4f76-98fc-b20c25cb74c6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "7nyxxKNBw1fybE3r",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -112,
        1552
      ],
      "id": "6ad1db49-8788-4211-bf7c-08a8511e09e4",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "7nyxxKNBw1fybE3r",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -112,
        1792
      ],
      "id": "dc959d6e-3325-43e3-b67b-75ea9effcc8e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6HWIjHqCHR4fXAjZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following news articles about a company:\n\nCompany: {{ $('loopOverItems').item.json[\"Company Name\"] }}\nTitle: {{ $json.data }} [\\nTitle]\nDescription: {{ $json.data }} [\\nDescription]\nDate: {{ $json.data }} [\\nDate]\n\nBased ONLY on the text above, generate a raw JSON object (NO markdown, NO backticks, NO explanations) with the following exact keys and structure:\n\n{\n  \"shortSummary\": \"A concise 2-sentence summary of the news.\",\n  \"detailedSummary\": \"A comprehensive overview of the event, implications, and context.\",\n  \"revenue\": \"The anual company porfits (if not provided use your internal knowledge)\"\n  \"pubDate\": \"The publication date {{ $json.data.match('\\nDate') }}.\"\n}\n\nConstraint Checklist:\n1. Output MUST be valid JSON.\n2. Do NOT include ```json or ``` markers.\n3. Do NOT include any text outside the JSON object.\n4. Keys must be exactly as listed above (camelCase).",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        1200
      ],
      "id": "aec788d0-7cf5-45e8-9458-03f7e6787e2f",
      "name": "llama-3.3-70b-versatile",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following news articles about a company:\n\nCompany: {{ $('loopOverItems').item.json[\"Company Name\"] }}\nTitle: {{ $json.data }} [\\nTitle]\nDescription: {{ $json.data }} [\\nDescription]\nDate: {{ $json.data }} [\\nDate]\n\nBased ONLY on the text above, generate a raw JSON object (NO markdown, NO backticks, NO explanations) with the following exact keys and structure:\n\n{\n  \"shortSummary\": \"A concise 2-sentence summary of the news.\",\n  \"detailedSummary\": \"A comprehensive overview of the event, implications, and context.\",\n  \"revenue\": \"The anual company porfits (if not provided use your internal knowledge)\"\n  \"pubDate\": \"The publication date {{ $json.data.match('\\nDate') }}.\"\n}\n\nConstraint Checklist:\n1. Output MUST be valid JSON.\n2. Do NOT include ```json or ``` markers.\n3. Do NOT include any text outside the JSON object.\n4. Keys must be exactly as listed above (camelCase).",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        1664
      ],
      "id": "83ce469f-e067-4e2a-bb61-07b67bf24224",
      "name": "models/gemini-3.5-flash",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following news articles about a company:\n\nCompany: {{ $('loopOverItems').item.json[\"Company Name\"] }}\nTitle: {{ $json.data }} [\\nTitle]\nDescription: {{ $json.data }} [\\nDescription]\nDate: {{ $json.data }} [\\nDate]\n\nBased ONLY on the text above, generate a raw JSON object (NO markdown, NO backticks, NO explanations) with the following exact keys and structure:\n\n{\n  \"shortSummary\": \"A concise 2-sentence summary of the news.\",\n  \"detailedSummary\": \"A comprehensive overview of the event, implications, and context.\",\n  \"revenue\": \"The anual company porfits (if not provided use your internal knowledge)\"\n  \"pubDate\": \"The publication date {{ $json.data.match('\\nDate') }}.\"\n}\n\nConstraint Checklist:\n1. Output MUST be valid JSON.\n2. Do NOT include ```json or ``` markers.\n3. Do NOT include any text outside the JSON object.\n4. Keys must be exactly as listed above (camelCase).",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        1440
      ],
      "id": "85afae28-c7bd-4655-a719-4b796251b0f3",
      "name": "meta-llama/llama-4-scout-17b-16e-instruct",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": " news Lalma AI agent failed",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        928,
        1488
      ],
      "id": "df3dce23-cdd3-44d9-8115-17304b0ab630",
      "name": "newsLalmaFailure",
      "webhookId": "80552c5d-927f-4250-9470-ca4fff4a618c",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "discordWebhookApi": {
          "id": "QJ2EFo8lbaHb5abA",
          "name": "Discord Webhook account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": " news Qwen AI agent failed",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        928,
        1632
      ],
      "id": "15164710-00bc-4e61-b7f5-75720cd05db6",
      "name": "newsQwenFailure",
      "webhookId": "80552c5d-927f-4250-9470-ca4fff4a618c",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "discordWebhookApi": {
          "id": "QJ2EFo8lbaHb5abA",
          "name": "Discord Webhook account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": " news Gemeni AI agent failed",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        928,
        1776
      ],
      "id": "b2f5b768-2778-44e0-929f-4c421713a1cf",
      "name": "newsGeminiFailure",
      "webhookId": "80552c5d-927f-4250-9470-ca4fff4a618c",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "discordWebhookApi": {
          "id": "QJ2EFo8lbaHb5abA",
          "name": "Discord Webhook account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "search",
        "workspaceId": {
          "__rl": true,
          "value": "w8d25w8t",
          "mode": "list",
          "cachedResultName": "Default Workspace",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t"
        },
        "projectId": {
          "__rl": true,
          "value": "pwbonlsiyo3g2ae",
          "mode": "list",
          "cachedResultName": "profile and news",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae"
        },
        "table": {
          "__rl": true,
          "value": "mionkl05iybori3",
          "mode": "list",
          "cachedResultName": "lastNews",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae/mionkl05iybori3"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        224,
        976
      ],
      "id": "ca85a4af-c4d1-4f3e-b89e-be06a0fb5969",
      "name": "getCompaniesNames",
      "retryOnFail": true,
      "waitBetweenTries": 4000,
      "maxTries": 5,
      "credentials": {
        "nocoDbApiToken": {
          "id": "C3EuYH9AObHYPqw5",
          "name": "NocoDB Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "value": "w8d25w8t",
          "mode": "list",
          "cachedResultName": "Default Workspace",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t"
        },
        "projectId": {
          "__rl": true,
          "value": "pwbonlsiyo3g2ae",
          "mode": "list",
          "cachedResultName": "profile and news",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae"
        },
        "table": {
          "__rl": true,
          "value": "mionkl05iybori3",
          "mode": "list",
          "cachedResultName": "lastNews",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae/mionkl05iybori3"
        },
        "id": "={{ $('loopOverItems').item.json.id_fields.Id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "shortSummary": "={{ $json.shortSummary }}",
            "detailedSummary": "={{ $json.detailedSummary }}",
            "lastupdate": "={{ new Date().toISOString() }}",
            "errors": "={{ $json.errors }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "companyName",
              "displayName": "companyName",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "shortSummary",
              "displayName": "shortSummary",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            },
            {
              "id": "detailedSummary",
              "displayName": "detailedSummary",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastupdate",
              "displayName": "lastupdate",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            },
            {
              "id": "errors",
              "displayName": "errors",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        736,
        1328
      ],
      "id": "6f2e5c1c-ec60-4028-9d40-9a691b831ba4",
      "name": "cleanNewsDataUpdate",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "nocoDbApiToken": {
          "id": "C3EuYH9AObHYPqw5",
          "name": "NocoDB Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "value": "w8d25w8t",
          "mode": "list",
          "cachedResultName": "Default Workspace",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t"
        },
        "projectId": {
          "__rl": true,
          "value": "pwbonlsiyo3g2ae",
          "mode": "list",
          "cachedResultName": "profile and news",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae"
        },
        "table": {
          "__rl": true,
          "value": "mnw6isgi9j7s4wg",
          "mode": "list",
          "cachedResultName": "errors",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae/mnw6isgi9j7s4wg"
        },
        "id": "={{ $('loopOverItems').item.json.id_fields.Id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "newsErrorMessage": "={{ $json.isValid }}",
            "newsErrorDate": "={{ new Date().toISOString() }}",
            "newsError": "={{ $json.errors }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "companyName",
              "displayName": "companyName",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileErrorMessage",
              "displayName": "profileErrorMessage",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileErrorDate",
              "displayName": "profileErrorDate",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PERetryCounter",
              "displayName": "PERetryCounter",
              "type": "number",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newsErrorMessage",
              "displayName": "newsErrorMessage",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            },
            {
              "id": "newsErrorDate",
              "displayName": "newsErrorDate",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            },
            {
              "id": "NERetryCount",
              "displayName": "NERetryCount",
              "type": "number",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileErrors",
              "displayName": "profileErrors",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newsError",
              "displayName": "newsError",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        576,
        1472
      ],
      "id": "f2b45cbc-95f7-436d-ad58-fd89f0aa7686",
      "name": "storeTheInvalidError2",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "nocoDbApiToken": {
          "id": "C3EuYH9AObHYPqw5",
          "name": "NocoDB Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "value": "w8d25w8t",
          "mode": "list",
          "cachedResultName": "Default Workspace",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t"
        },
        "projectId": {
          "__rl": true,
          "value": "pwbonlsiyo3g2ae",
          "mode": "list",
          "cachedResultName": "profile and news",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae"
        },
        "table": {
          "__rl": true,
          "value": "mnw6isgi9j7s4wg",
          "mode": "list",
          "cachedResultName": "errors",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae/mnw6isgi9j7s4wg"
        },
        "id": "={{ $('loopOverItems').item.json.id_fields.Id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "newsErrorMessage": "={{ $json.data || \"httpFaild\"}}",
            "newsErrorDate": "={{ new Date().toISOString() }}",
            "newsError": "={{ $json.error || false }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "companyName",
              "displayName": "companyName",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileErrorMessage",
              "displayName": "profileErrorMessage",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileErrorDate",
              "displayName": "profileErrorDate",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PERetryCounter",
              "displayName": "PERetryCounter",
              "type": "number",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newsErrorMessage",
              "displayName": "newsErrorMessage",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            },
            {
              "id": "newsErrorDate",
              "displayName": "newsErrorDate",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            },
            {
              "id": "NERetryCount",
              "displayName": "NERetryCount",
              "type": "number",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileErrors",
              "displayName": "profileErrors",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newsError",
              "displayName": "newsError",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        736,
        1168
      ],
      "id": "70b8bfbd-c542-41a9-98c1-5af7dfe12002",
      "name": "storeTheInvalidError3",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "nocoDbApiToken": {
          "id": "C3EuYH9AObHYPqw5",
          "name": "NocoDB Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "news http node failed",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1104,
        1632
      ],
      "id": "3cd2ba35-62c1-40f0-ae0e-316096f02724",
      "name": "newsHTTPFailure",
      "webhookId": "80552c5d-927f-4250-9470-ca4fff4a618c",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "discordWebhookApi": {
          "id": "QJ2EFo8lbaHb5abA",
          "name": "Discord Webhook account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a68e9ba4-8549-4118-83f7-01bc8119709f",
              "leftValue": "={{ $json.error ? 'failed' : 'success' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        976
      ],
      "id": "ffa3fb4f-a0bf-4be6-8882-17165a6d4442",
      "name": "checkIfError"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a68e9ba4-8549-4118-83f7-01bc8119709f",
              "leftValue": "={{ $json.error ? 'failed' : 'success' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        1328
      ],
      "id": "066aa37e-fca0-4a96-b5db-4daeab870375",
      "name": "checkIfError1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a68e9ba4-8549-4118-83f7-01bc8119709f",
              "leftValue": "={{ $json.error ? 'failed' : 'success' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        1168
      ],
      "id": "1b775dd8-ec43-48f7-b48a-731f628cbe9a",
      "name": "checkIfError2"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { \"signal\": \"trigger\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        832
      ],
      "id": "71e2119b-9a6c-4361-a3dd-ba30343004b2",
      "name": "signal2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uVF1P17v2iDCtHYe",
          "mode": "list",
          "cachedResultUrl": "/workflow/uVF1P17v2iDCtHYe",
          "cachedResultName": "clearingNewsOldData"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        48,
        832
      ],
      "id": "f4e9a28d-2357-487c-821b-6a96d238b8be",
      "name": "eraseData",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c171f080-abdc-4dec-8d61-1ea9e6217592",
              "name": "NERetryCounter",
              "value": "={{ $json.fields.NERetryCounter === null || $json.fields.NERetryCounter === undefined ? 0 : ($json.fields.NERetryCounter || 0) + 1 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        1024
      ],
      "id": "0ed53a17-aa44-432e-8e47-ee6cc1206e77",
      "name": "Edit Fields",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "search",
        "workspaceId": {
          "__rl": true,
          "value": "w8d25w8t",
          "mode": "list",
          "cachedResultName": "Default Workspace",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t"
        },
        "projectId": {
          "__rl": true,
          "value": "pwbonlsiyo3g2ae",
          "mode": "list",
          "cachedResultName": "profile and news",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae"
        },
        "table": {
          "__rl": true,
          "value": "mnw6isgi9j7s4wg",
          "mode": "list",
          "cachedResultName": "errors",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae/mnw6isgi9j7s4wg"
        },
        "returnAll": true,
        "options": {
          "where": "={{ \"(companyName,eq,\" + $('loopOverItems').item.json.fields.companyName + \")\" }}"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        1328,
        1024
      ],
      "id": "78d0312b-7d19-4c6f-8b1b-6c7e7a86a5d0",
      "name": "getOriginalRetryCount",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "nocoDbApiToken": {
          "id": "C3EuYH9AObHYPqw5",
          "name": "NocoDB Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "search",
        "workspaceId": {
          "__rl": true,
          "value": "w8d25w8t",
          "mode": "list",
          "cachedResultName": "Default Workspace",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t"
        },
        "projectId": {
          "__rl": true,
          "value": "pwbonlsiyo3g2ae",
          "mode": "list",
          "cachedResultName": "profile and news",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae"
        },
        "table": {
          "__rl": true,
          "value": "mnw6isgi9j7s4wg",
          "mode": "list",
          "cachedResultName": "errors",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae/mnw6isgi9j7s4wg"
        },
        "returnAll": true,
        "options": {
          "where": "={{ \"(companyName,eq,\" + $('loopOverItems').item.json.fields.companyName + \")\" }}"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        1632,
        1168
      ],
      "id": "3d652b5c-0772-4864-8513-db61d8f4183e",
      "name": "getUpdatedRetryCount",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "nocoDbApiToken": {
          "id": "C3EuYH9AObHYPqw5",
          "name": "NocoDB Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "workspaceId": {
          "__rl": true,
          "value": "w8d25w8t",
          "mode": "list",
          "cachedResultName": "Default Workspace",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t"
        },
        "projectId": {
          "__rl": true,
          "value": "pwbonlsiyo3g2ae",
          "mode": "list",
          "cachedResultName": "profile and news",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae"
        },
        "table": {
          "__rl": true,
          "value": "mnw6isgi9j7s4wg",
          "mode": "list",
          "cachedResultName": "errors",
          "cachedResultUrl": "http://nocodb_local:8080/#/w8d25w8t/pwbonlsiyo3g2ae/mnw6isgi9j7s4wg"
        },
        "id": "={{ $('getOriginalRetryCount').item.json.id_fields.Id }}",
        "fieldsMapper": {
          "mappingMode": "defineBelow",
          "value": {
            "NERetryCounter": "={{ $json.NERetryCounter }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "companyName",
              "displayName": "companyName",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileErrorMessage",
              "displayName": "profileErrorMessage",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileErrorDate",
              "displayName": "profileErrorDate",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PERetryCounter",
              "displayName": "PERetryCounter",
              "type": "number",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newsErrorMessage",
              "displayName": "newsErrorMessage",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newsErrorDate",
              "displayName": "newsErrorDate",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "NERetryCounter",
              "displayName": "NERetryCounter",
              "type": "number",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": false
            },
            {
              "id": "profileErrors",
              "displayName": "profileErrors",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            },
            {
              "id": "newsError",
              "displayName": "newsError",
              "type": "string",
              "display": true,
              "defaultMatch": false,
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 4,
      "position": [
        1328,
        1168
      ],
      "id": "877acab0-f276-41e1-8fda-49739b45c940",
      "name": "updateRetryCount",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "nocoDbApiToken": {
          "id": "C3EuYH9AObHYPqw5",
          "name": "NocoDB Token account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a68e9ba4-8549-4118-83f7-01bc8119709f",
              "leftValue": "={{ $json.fields.NERetryCounter }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        1312
      ],
      "id": "ecc823ed-f191-47dd-aa96-f1f5064c5cd7",
      "name": "checkIfRetryCountIsMax"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        1312
      ],
      "id": "3246c9ca-535b-4525-93d8-f4f74fac9f77",
      "name": "wait1",
      "webhookId": "5c9f03e4-f876-41e0-8230-f875a48dcdb4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a68e9ba4-8549-4118-83f7-01bc8119709f",
              "leftValue": "={{ $json.error ? 'failed' : 'success' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        1024
      ],
      "id": "ba9383e4-8e9c-4ea1-ab18-d25ee63643cc",
      "name": "checkIfError3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a68e9ba4-8549-4118-83f7-01bc8119709f",
              "leftValue": "={{ $json.error ? 'failed' : 'success' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        1168
      ],
      "id": "3fd6915b-d972-43d5-bd9e-4dd4cd5b2559",
      "name": "checkIfError4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a68e9ba4-8549-4118-83f7-01bc8119709f",
              "leftValue": "={{ $json.error ? 'failed' : 'success' }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1328,
        1312
      ],
      "id": "7931b05c-acb0-470a-9b5f-1345855da34e",
      "name": "checkIfError5"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { \"signal\": \"reload_company\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        1024
      ],
      "id": "1478ca08-db69-4d26-9988-16aacebab17c",
      "name": "signal"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { \"signal\": \"next_company\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        1168
      ],
      "id": "bdcd533d-1655-4cb5-b771-3b96be0c0a30",
      "name": "signal3"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "nocoDB is not responding, manual intervention required! (news chain)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1280,
        1632
      ],
      "id": "650d667c-6f06-4a9f-8839-dbdc7ad2020d",
      "name": "newsNocoDBFailureNoti",
      "webhookId": "80552c5d-927f-4250-9470-ca4fff4a618c",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "discordWebhookApi": {
          "id": "QJ2EFo8lbaHb5abA",
          "name": "Discord Webhook account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "nocoDB is not responding, manual intervention required! (news chain)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1280,
        1488
      ],
      "id": "8237750e-58e2-4182-b979-e8d1d340b2ad",
      "name": "newsNocoDBFailureNoti1",
      "webhookId": "80552c5d-927f-4250-9470-ca4fff4a618c",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "discordWebhookApi": {
          "id": "QJ2EFo8lbaHb5abA",
          "name": "Discord Webhook account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "errorMessage": "nocoDB is not responding"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        528,
        848
      ],
      "id": "5b20fb27-e44c-446e-8a97-6a49bb2577d7",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ \"Fetching news completed in \" + new Date().toISOString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1104,
        1488
      ],
      "id": "402532fa-e69d-4d6e-a7a9-eabd117672ca",
      "name": "newsRefreshNoti",
      "webhookId": "80552c5d-927f-4250-9470-ca4fff4a618c",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "discordWebhookApi": {
          "id": "QJ2EFo8lbaHb5abA",
          "name": "Discord Webhook account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ \"manual intervention required for ID: \" + $('loopOverItems').item.json.id_fields.Id + \",(\" + $('loopOverItems').item.json.fields.companyName + \")\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1280,
        1792
      ],
      "id": "db62a266-b2c7-494f-888d-9e30bf4786a4",
      "name": "maxRetryCountReached",
      "webhookId": "dc823a39-7d68-484d-9854-37a9d80f1087",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "discordWebhookApi": {
          "id": "QJ2EFo8lbaHb5abA",
          "name": "Discord Webhook account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "loopOverItems": {
      "main": [
        [
          {
            "node": "newsRefreshNoti",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTPRequestCompanieLastUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filterRawData": {
      "main": [
        [
          {
            "node": "checksIfFilteredDataAreValid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checksIfFilteredDataAreValid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checksIfDataAreValid": {
      "main": [
        [
          {
            "node": "cleanNewsDataUpdate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "storeTheInvalidError2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validateOutput": {
      "main": [
        [
          {
            "node": "checksIfDataAreValid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checksIfDataAreValid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checksIfDataFromLalmaAreValid": {
      "main": [
        [
          {
            "node": "validateOutput",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "meta-llama/llama-4-scout-17b-16e-instruct",
            "type": "main",
            "index": 0
          },
          {
            "node": "newsLalmaFailure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checksIfFilteredDataAreValid": {
      "main": [
        [
          {
            "node": "llama-3.3-70b-versatile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "storeTheInvalidError3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checksIfDataFromGeminiAreValid": {
      "main": [
        [
          {
            "node": "validateOutput",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "newsGeminiFailure",
            "type": "main",
            "index": 0
          },
          {
            "node": "storeTheInvalidError2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait": {
      "main": [
        [
          {
            "node": "loopOverItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checksIfDataFromQwenAreValid": {
      "main": [
        [
          {
            "node": "validateOutput",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "models/gemini-3.5-flash",
            "type": "main",
            "index": 0
          },
          {
            "node": "newsQwenFailure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTPRequestCompanieLastUpdate": {
      "main": [
        [
          {
            "node": "checksIfDataFromHTTPLastUpdateNodeAreValid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checksIfDataFromHTTPLastUpdateNodeAreValid",
            "type": "main",
            "index": 0
          },
          {
            "node": "newsHTTPFailure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scheduleTrigger": {
      "main": [
        [
          {
            "node": "eraseData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checksIfDataFromHTTPLastUpdateNodeAreValid": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "storeTheInvalidError3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "filterRawData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "llama-3.3-70b-versatile",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "meta-llama/llama-4-scout-17b-16e-instruct",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "models/gemini-3.5-flash",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "llama-3.3-70b-versatile": {
      "main": [
        [
          {
            "node": "checksIfDataFromLalmaAreValid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checksIfDataFromLalmaAreValid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "models/gemini-3.5-flash": {
      "main": [
        [
          {
            "node": "checksIfDataFromGeminiAreValid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checksIfDataFromGeminiAreValid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meta-llama/llama-4-scout-17b-16e-instruct": {
      "main": [
        [
          {
            "node": "checksIfDataFromQwenAreValid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checksIfDataFromQwenAreValid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getCompaniesNames": {
      "main": [
        [
          {
            "node": "checkIfError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cleanNewsDataUpdate": {
      "main": [
        [
          {
            "node": "checkIfError1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkIfError1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "storeTheInvalidError3": {
      "main": [
        [
          {
            "node": "checkIfError2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkIfError2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "storeTheInvalidError2": {
      "main": [
        [
          {
            "node": "checkIfError2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkIfError2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkIfError": {
      "main": [
        [
          {
            "node": "loopOverItems",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "newsNocoDBFailureNoti1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkIfError1": {
      "main": [
        [
          {
            "node": "wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "signal3",
            "type": "main",
            "index": 0
          },
          {
            "node": "newsNocoDBFailureNoti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eraseData": {
      "main": [
        [
          {
            "node": "signal2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "signal2": {
      "main": [
        [
          {
            "node": "getCompaniesNames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkIfError2": {
      "main": [
        [
          {
            "node": "getOriginalRetryCount",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "signal3",
            "type": "main",
            "index": 0
          },
          {
            "node": "newsNocoDBFailureNoti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "updateRetryCount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getOriginalRetryCount": {
      "main": [
        [
          {
            "node": "checkIfError3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkIfError3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getUpdatedRetryCount": {
      "main": [
        [
          {
            "node": "checkIfError5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkIfError5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateRetryCount": {
      "main": [
        [
          {
            "node": "checkIfError4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkIfError4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkIfRetryCountIsMax": {
      "main": [
        [
          {
            "node": "wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "signal3",
            "type": "main",
            "index": 0
          },
          {
            "node": "maxRetryCountReached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait1": {
      "main": [
        [
          {
            "node": "signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkIfError3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "signal3",
            "type": "main",
            "index": 0
          },
          {
            "node": "newsNocoDBFailureNoti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkIfError4": {
      "main": [
        [
          {
            "node": "getUpdatedRetryCount",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "signal3",
            "type": "main",
            "index": 0
          },
          {
            "node": "newsNocoDBFailureNoti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkIfError5": {
      "main": [
        [
          {
            "node": "checkIfRetryCountIsMax",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "signal3",
            "type": "main",
            "index": 0
          },
          {
            "node": "newsNocoDBFailureNoti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "signal3": {
      "main": [
        [
          {
            "node": "loopOverItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "signal": {
      "main": [
        [
          {
            "node": "HTTPRequestCompanieLastUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "maxRetryCountReached": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ae0f16e7-7742-45a6-9f40-94ac77276131",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "874a53071ff3a00f0c61ef646f6b22fc209bc14b7a8783a508106cc2e7a274f7"
  },
  "nodeGroups": [],
  "id": "omdwM0rXqj3wAAes",
  "tags": []
}